<template>
	<iframe
		id="ytplayer"
		type="text/html"
		width="720"
		height="400"
		:src="createFullAddress"
		frameborder="0"
		allowfullscreen
	/>
</template>

<script>
export default {
	name: 'EmbeddedPlayer',
	props: ['videoID'],
	computed: {
		createFullAddress() {
			return 'https://www.youtube.com/embed/' + this._props.videoID
		}
	}
}
</script>
