<template>
	<div class="Youtube">
		<section class="hero">
			<div class="hero-body">
				<div class="container">
					<h1 class="title"><span>Content by: </span>{{ pageTitle }}</h1>
					<h2 class="subtitle">
						<span>Channel description: </span>
						{{ description }}
					</h2>
				</div>
			</div>
		</section>
		<ul>
			<li v-for="(item, i) in playlistContent" v-bind:key="i">
				<EmbeddedPlayer v-bind:videoID="item.contentDetails.videoId" />
			</li>
		</ul>
	</div>
</template>

<script>
import EmbeddedPlayer from '@/components/Youtube/EmbeddedPlayer.vue'
import axios from 'axios'

export default {
	name: 'Youtube',
	components: {
		EmbeddedPlayer
	},
	data() {
		return {
			playlistContent: [],
			pageTitle: '',
			description: ''
		}
	},
	props: ['channelName', 'channelID', 'playlistID'],
	created() {
		this.resourceCall({
			playlistID: this._props.playlistID,
			callType: 'playlist'
		})

		if (this._props.channelName) {
			this.resourceCall({
				channelName: this._props.channelName,
				callType: 'channelName'
			})
		}

		if (this._props.channelID) {
			this.resourceCall({
				channelID: this._props.channelID,
				callType: 'channelID'
			})
		}
	},
	methods: {
		resourceCall(data) {
			const { callType } = data
			const key = process.env.VUE_APP_API_KEY

			let fullAddress = ''

			if (callType && callType === 'channelName') {
				const { channelName } = data

				if (channelName && channelName.length > 0) {
					fullAddress =
						'/channels?part=snippet&forUsername=' +
						channelName +
						'&maxResults=1&key=' +
						key
				}
			}

			if (callType && callType === 'channelID') {
				const { channelID } = data
				fullAddress =
					'/channels?part=snippet&id=' + channelID + '&maxResults=1&key=' + key
			}

			if (callType && callType === 'playlist') {
				const { playlistID } = data
				fullAddress =
					'/playlistItems?part=contentDetails&maxResults=5&playlistId=' +
					playlistID +
					'&key=' +
					key
			}

			axios
				.get(fullAddress)
				.then(response => {
					if (callType === 'channelName' || callType === 'channelID') {
						this.pageTitle = response.data.items[0].snippet.title
						this.description = response.data.items[0].snippet.description
					}

					if (callType === 'playlist') {
						this.playlistContent = response.data.items
					}
				})
				.catch(error => {
					console.log(error)
				})
		}
	}
}
</script>

<style scoped lang="scss">
ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	@media (max-width: 768px) {
		flex-direction: column;
	}

	li {
		list-style: none;
		width: 50%;
		padding: 40px;

		@media (max-width: 768px) {
			width: 100%;
			padding: 0;
			margin: 20px 0;
		}

		iframe {
			display: block;
			width: 100%;
			height: 400px;

			@media (max-width: 768px) {
				height: 185px;
			}
		}
	}
}
</style>
