<template>
	<div class="documentary">
		<Youtube
			channelID="UC0fDG3byEcMtbOqPMymDNbw"
			playlistID="PL-THgg8QnvU4TMnDoFcI-vtJKwP2oLgyH"
		/>
	</div>
</template>

<script>
import Youtube from '@/components/Youtube/Youtube.vue'

export default {
	name: 'documentary',
	components: {
		Youtube
	}
}
</script>
