<template>
	<div class="eternal">
		<section class="hero">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">Doom Eternal</h1>
					<h2 class="subtitle">
						Developed by id Software, DOOM® Eternal™ is the direct sequel to
						DOOM®, winner of The Game Awards’ Best Action Game of 2016.
						Experience the ultimate combination of speed and power as you
						rip-and-tear your way across dimensions with the next leap in
						push-forward, first-person combat. Powered by idTech 7 and set to an
						all-new pulse-pounding soundtrack composed by Mick Gordon, DOOM
						Eternal puts you in control of the unstoppable DOOM Slayer as you
						blow apart new and classic demons with powerful weapons in
						unbelievable and never-before-seen worlds. As the DOOM Slayer, you
						return to find Earth has suffered a demonic invasion. Raze Hell and
						discover the Slayer’s origins and his enduring mission to rip and
						tear…until it is done.
					</h2>
				</div>
			</div>
		</section>
		<section class="section">
			<iframe
				width="720"
				height="400"
				src="https://www.youtube.com/embed/2HOClc6Svg4"
				frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen
			></iframe>
		</section>
	</div>
</template>

<script>
export default {
	name: 'eternal'
}
</script>
<style scoped lang="scss">
iframe {
	display: block;
	width: 100%;
	height: 800px;

	@media (max-width: 768px) {
		height: 155px;
	}
}
</style>
