<template>
	<div class="guides">
		<Youtube
			channelName="AchievementHunter"
			playlistID="PLtgRzKhKuEoySpYATdY65t5RjxkqrVUz2"
		/>
	</div>
</template>

<script>
import Youtube from '@/components/Youtube/Youtube.vue'

export default {
	name: 'guides',
	components: {
		Youtube
	}
}
</script>
