<template>
	<nav class="level">
		<p class="level-item has-text-centered">
			<router-link class="link is-info" to="/">
				Home
			</router-link>
		</p>
		<p class="level-item has-text-centered">
			<router-link class="link is-info" to="/eternal">
				Doom Eternal
			</router-link>
		</p>
		<p class="level-item has-text-centered">
			<img
				src="../../assets/doom-series-logo.png"
				alt=""
				style="height: 60px;"
			/>
		</p>
		<p class="level-item has-text-centered">
			<router-link class="link is-info" to="/guides">
				Guides
			</router-link>
		</p>
		<p class="level-item has-text-centered">
			<router-link class="link is-info" to="/documentary">
				Documentary
			</router-link>
		</p>
	</nav>
</template>

<script>
export default {
	name: 'Header'
}
</script>

<style scoped lang="scss">
.link {
	font-weight: 600;
}
</style>
