<template>
	<section class="section">
		<div id="app">
			<Header />
			<router-view />
			<Footer />
		</div>
	</section>
</template>

<style lang="scss">
#nav {
	padding: 30px;
	a {
		font-weight: bold;
		color: #666;
		&.router-link-exact-active {
			color: #000;
		}
	}
}
</style>
<script>
import '../node_modules/bulma/css/bulma.css'
import Header from '../src/components/Header/Header.vue'
import Footer from '../src/components/Footer/Footer.vue'

export default {
	name: 'app',
	components: {
		Header,
		Footer
	}
}
</script>
